.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
data-raw/infosiga_sinistros.parquet
data-raw/infosiga_vitimas.parquet
data-raw/infosiga_veiculos.parquet
data-raw/dados_infosiga.zip
data-raw/infosiga_*